{% load i18n %}
<form class="d-flex mx-auto w-100 {% if static_export %}showcase-contact-trigger{% endif %}" action="{% url 'category' %}" method="get">
  <div class="input-group flex-nowrap">
    <input type="text" name="q" value="{{ request.GET.q|default:'' }}" class="form-control" placeholder="{% trans 'Search products' %}" {% if static_export %}readonly{% endif %} />
    <select name="category" class="form-select d-none d-sm-block" style="max-width: 160px" {% if static_export %}disabled{% endif %}>
      <option value="">{% trans "Categories" %}</option>
      {% for category in navbar_categories %}
      <option value="{{ category.slug }}" {% if request.GET.category == category.slug %}selected{% endif %}>{{ category.name }}</option>
      {% endfor %}
    </select>
    <button class="btn btn-primary flex-shrink-0" type="{% if static_export %}button{% else %}submit{% endif %}">
      <i class="lni lni-search-alt text-white"></i>
    </button>
  </div>
</form>
